

.image-container {
    width: 300px;
    margin: 50px auto;
}

.result-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;

    margin: auto auto;
}